.login-form-wrapper {
  background-color: #fff;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form__input-container {
  margin-bottom: 10px;
}

.login-form__button {
  margin-top: 10px;
}

.login-form__input.input-error{
  border: 1px solid #a40000;
}

.form__error{
  font-size: 12px;
  color: #a40000;
}