.signin-form-wrapper {
  background-color: #fff;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}
.login-form__input-container {
  margin-bottom: 10px;
}

.login-form__button {
  margin-top: 10px;
}
