.auth-form-wrapper {
  height: 100%;
  width: 450px;
  padding: 30px;

  .auth-nav-tabs{
    display: flex;

    .auth-nav-tab{
      cursor: pointer;
      font-weight: 700;
      color: #536483;
      width: 50%;
      padding: 15px;
      text-align: center;

    }
    .auth-nav-tab_active{
      background-color: #fff ;
    }
  }

  .auth-form{
background-color: #fff;
padding: 30px;
;
  }
}

