.header-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: unset;
  background-color: #f6f6f6;
  border: none;
  flex-wrap: nowrap;

  .header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0 0 15rem;
  }

  .header-right {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .header-right-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
    }
  }
}
