.notification-icon {
    border-radius: 50%;
    display: inline-block;
    padding-top: 6px;
    cursor: pointer;
    font-size: 14px;
  }
.notification-wrapper {

    width: 35px;
    .notification-list{
        min-width: 300px;
        padding-bottom: 0px;

    }
    .notification-label{
        font-weight: 600;
    font-size: 14px;
    }
    .notification-item {
        font-size: 14px;
    border-radius: 10px;
    padding-top: 10px;
    margin: 0px 10px 10px 10px;
    background-color: #f6f6f6;
    display: block;
    width: calc(100% - 20px);
    padding-bottom: 10px;

    &:active{
        color: #000;
    }
  }
}
