.main-wrapper {
  display: flex;
  height: 100%;
  margin-top: 10px;
  background-color: #f6f6f6;
}
.main-content {
  width: 100%;
  padding: 30px 20px;
  background: #ffffff;
  margin-right: 15px;
  border-radius: 15px;
}
